
@{
    ViewBag.Title = "Manage Employees";
}


<a class="btn btn-success" style="margin-bottom:10px" href="@Url.Action("New","Employee")"><i class="fa fa-plus"></i> Add New</a>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Employee Management</h3>
    </div>
    <div class="box-body">
        <table id="employeeTable" class="table table-bordered table-hover display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Employee Code</th>
                    <th>First Name</th>
                    <th>MobileNo</th>
                    <th>DOJ</th>
                    <th>Salary</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{


    <script>
            var dataTable;
            $(document).ready(function () {
                dataTable = $("#employeeTable").DataTable({
                    "scrollX": true,
                    "ajax": {
                        "url": "/api/EmployeeData//GetAll",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "EmployeeCode" },
                        { "data": "FirstName" },
                        { "data": "MobileNumber" },
                        {
                            "data": "DOJ", render: function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                return moment(data).format("DD-MM-YYYY");
                            }
                        },
                        { "data": "PackageAmmount" },
                        {
                            "data": "EmployeeID", "render": function (data) {
                                return "<a class='btn btn-primary btn-sm' href=/Employee/Edit?keyId=" + data + "><i class='fa fa-pencil'></i></a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a>";
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        }

                    ],
                    "language": {

                        "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                    }
                });
            });

            function Delete(id) {

                //////////////////////
                iziToast.warning({
                    title: 'Delete Warning!',
                    message: 'Are you sure you want to Delete?',
                    timeout: false,
                    overlay: true,
                    color: 'yellow',
                    position: 'center',
                    buttons: [
                        ['<button>Yes</button>', function (instance, toast) {
                            debugger;

                            result = GetJsonFromApi("/EmployeeData/Delete?employeeId=" + id);


                            if (result) {
                                ToastSuccess('Deleted Sucessfully.');
                                dataTable.ajax.reload();
                            }
                            else {
                                ToastError("Error ocuured While doing operation")
                            }

                            instance.hide({
                                transitionOut: 'fadeOutDown',

                            }, toast, 'buttonName');


                        }, true],
                        ['<button>No</button>', function (instance, toast) {
                            instance.hide({
                                transitionOut: 'fadeOutDown',

                            }, toast, 'buttonName');

                        }]
                    ],

                });
            }
    </script>
}




