@{
    ViewBag.Title = "Create an Employee";
}

<br/>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Employee Registration</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" data-role="Employeecreate-sec">

                    <div class="col-lg-12">
                        <div class="row">


                            <div class="form-group col-lg-12">
                                <strong class="m-b-xs">Employee Code</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-hashtag input-group-addon"></i>
                                    <input type="text" id="EmployeeCode" class="form-control" placeholder="Employee Code" name="Employee Code" data-attr="EmployeeCode"  readonly>

                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*First Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-user input-group-addon"></i>
                                    <input type="text" id="FirstName" class="form-control" placeholder="First Name" name="FirstName" data-attr="FirstName" data-valt="required" maxlength="100">

                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">Middle Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="MiddleName" class="form-control" placeholder="Middle Name" name="MiddleName" data-attr="MiddleName" maxlength="100">

                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*SurName</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="SurName" class="form-control" placeholder="Sur Name" name="SurName" data-attr="SurName" data-valt="required" maxlength="100">

                                </div>
                            </div>
                            <div class="form-group col-lg-8">
                                <strong class="m-b-xs">*Address</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="Address" class="form-control" placeholder="Address" name="Address" data-attr="Address" data-valt="required" maxlength="400">

                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Gender</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-male input-group-addon"></i>
                                    <select class="form-control Gender" id="Gender" name="Gender" data-attr="Gender" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Mobile Number</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Mobile Number" class="form-control" data-attr="MobileNumber" id="MobileNumber" name="MobileNumber" data-valt="required" maxlength="15">
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">Alternate Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Alternate Mobile" class="form-control" data-attr="AlternateMobile" id="AlternateMobile" name="AlternateMobile" maxlength="15">
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Date Of Joining</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="date" id="DOJ" class="form-control datepicker" placeholder="Date of Joining" name="DOJ" data-attr="DOJ" data-valt="required">

                                </div>

                            </div>
                          
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Date Of Birth</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="date" id="DOB" class="form-control datepicker" placeholder="DOB" name="DOB" data-attr="DOB" data-valt="required">

                                </div>

                            </div>
                          
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Civil Status</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-random input-group-addon"></i>
                                    <select class="form-control CivilStatus" id="CivilStatus" name="CivilStatus" data-attr="CivilStatus" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>

                                    </select>
                                </div>
                            </div>
                          
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Blood Group</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-heartbeat input-group-addon"></i>
                                    <select class="form-control BloodType" id="BloodType" name="BloodType" data-attr="BloodType" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Salary</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Salary" id="PackageAmmount" class="form-control" data-attr="PackageAmmount" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Experience</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-user input-group-addon"></i>
                                    <input type="number" placeholder="Experience" id="Experience" class="form-control" data-attr="Experience" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Identtification Type</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-info input-group-addon"></i>
                                    <select class="form-control Proof" id="Proof" name="Proof" data-attr="Proof" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Adhar/Voter/PAN/Other Number</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-key input-group-addon"></i>
                                    <input type="text" placeholder="Adhar/Voter/PAN/Other Number" id="UniqueID" class="form-control" data-attr="UniqueID" data-valt="required">
                                </div>

                            </div>

                          
                           

                           
                        </div>

                    </div>
                    <section data-role="mandatory-sec">
                        <input type="hidden" data-attr="EmployeeID" id="KeyId" />
                        <input type="hidden" data-attr="CreatedBy" />
                        <input type="hidden" data-attr="CreatedOn" value="@DateTime.Now" />
                        <input type="hidden" data-attr="ModifiedBy" />
                        <input type="hidden" data-attr="ModifiedOn" />
                        <input type="hidden" data-attr="Status" />

                    </section>
                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer clearfix">
                <button id="saveEvent" class="btn btn-sm btn-info btn-flat pull-left">Save Event</button>
                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Back</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
   
</div>
<!-- /.row -->
@section scripts{
<script>
    $(document).ready(function () {
        BindLELV('CivilStatus,Gender,BloodType,Proof');
       
    })
    $('#saveEvent').click(function () {
        if (displayvalidation('Employeecreate-sec')) {
            if ($('#KeyId').val() > 0) {
                mode = 'Update';
            }
            else {
                mode = 'Insert';
            }
            var resObj = post("Employeecreate-sec", 'EmployeeData/Save', mode);
            debugger;
            if (resObj[0] > 0) {
                $('#KeyId').val(resObj[0]);
                $('#EmployeeCode').val(resObj[1]);
            }

        }
    });
    $('#saveandNew').click(function () {
        if (displayvalidation('Employeecreate-sec')) {
            if ($('#KeyId').val() > 0) {

                mode = 'UpdateNew';
            }
            else {
                mode = 'InsertNew';
            }
            var resObj = post("Employeecreate-sec", 'EmployeeData/Save', mode);
            if (resObj[0] > 0) {
                $('#KeyId').val(resObj[0]);
                $('#EmployeeCode').val(resObj[1]);
            }
        }
    });
</script>
    }














