@{
    ViewBag.Title = "Payrole";
}

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Payrole</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="expenseForm">
                    <div class="row" data-role="createExp-sec">

                        <div class="col-lg-12">
                            <div class="row">
                                <div data-role="basicData-sec">
                                    <input type="hidden" data-attr="EmployeeID" />
                                    <div class="form-group col-lg-6">
                                        <strong class="m-b-xs">Employee Code</strong>
                                        <div class="input-group m-b">
                                            <i class="fa fa-hashtag input-group-addon"></i>
                                            <input type="text" id="EmployeeCode" class="form-control" placeholder="Employee Code" name="Employee Code" data-attr="EmployeeCode" readonly>

                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <strong class="m-b-xs">Employee Name</strong>
                                        <div class="input-group m-b">
                                            <i class="fa fa-user input-group-addon"></i>
                                            <input type="text" id="FirstName" class="form-control" placeholder="Employee Name" name="FirstName" data-attr="FirstName" readonly>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">*Paid Month</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-calendar input-group-addon"></i>
                                        <input type="text" id="PaidMonth" class="form-control datepicker" placeholder="Month of Paid" name="PaidMonth" data-attr="PaidMonth" data-valt="required">

                                    </div>

                                </div>

                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">*Salary Ammount</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Salary Ammount" class="form-control" data-attr="Salary" id="Salary" name="Salary" data-valt="required" onkeypress="return isNumberKeyDecimal(event, 'Salary')">
                                    </div>
                                </div>

                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">Incentives</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Incentives Ammount" class="form-control" data-attr="Incentives" id="Incentives" name="Incentives" data-valt="required" onkeypress="return isNumberKeyDecimal(event, 'Incentives')">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">Bonous</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Bonous Ammount" class="form-control" data-attr="Bonous" id="Bonous" name="Bonous" data-valt="required" onkeypress="return isNumberKeyDecimal(event, 'Bonous')">
                                    </div>
                                </div>

                                <div class="form-group col-lg-12">
                                    <strong class="m-b-xs">Description</strong>

                                    <div class="input-group m-b">
                                        <i class="fa fa-pencil input-group-addon"></i>
                                        <input type="text" placeholder="Description" class="form-control" data-attr="Description" id="Description" name="Description">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <section data-role="mandatory-sec">
                            <input type="hidden" data-attr="SalaryPaidID" id="KeyId" value="0" />
                            <input type="hidden" data-attr="CreatedBy" value="0" />
                            <input type="hidden" data-attr="CreatedOn" value="@DateTime.Now" />
                            <input type="hidden" data-attr="ModifiedBy" />
                            <input type="hidden" data-attr="ModifiedOn" />
                            <input type="hidden" data-attr="Status" value="true" />

                        </section>
                    </div>
                    <!-- /.row -->
                </form>
            </div>
            <div class="box-footer clearfix text-center">
                <button id="saveEvent" class="btn btn-sm btn-info btn-flat"><strong><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</strong></button>
                <a href="/Salaries/Manage" class="btn btn-sm btn-warning btn-flat"><strong><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</strong></a>
            </div>
        </div>
        <!-- /.box -->
       
    </div>

    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Salary Recap</a></li>


            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                   
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Customer Payments</h3>
                        </div>
                        <div class="box-body">
                            <table id="salaryPaidTable" class="table table-bordered table-hover display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th >EmployeeCode</th>
                                        <th>Month</th>
                                        <th>Salary</th>
                                        <th>Incentives</th>
                                        <th>Bonous </th>
                                       <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->

    </div>


</div>
<!-- /.row -->
@section Scripts{
    <script src="~/Scripts/util.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            BindLELV('Particulars');
            debugger;
            var empId = GetQueryStringValues(window.location.href, 'keyId');
            bind("/api/EmployeeData/GetByEmpId?employeeId=" + empId, 'basicData-sec');
            itemCostHistory(empId);
            //Date picker
            var mode = '';
            $('.datepicker').datepicker({
                autoclose: true
            });
            onPaste('Ammount');
            $('#saveEvent').click(function () {
                if (displayvalidation('createExp-sec')) {
                    if ($('#KeyId').val() > 0) {
                        mode = 'Update';
                    }
                    else {
                        mode = 'Insert';
                    }
                    var resObj = post("createExp-sec", 'SalariesData/Save', mode);
                    if (resObj > 0) {

                        $('#KeyId').val(resObj);

                        itemCostHistory(empId);

                    }

                }
            });
            $('#saveandNew').click(function () {
                if (displayvalidation('createExp-sec')) {
                    if ($('#KeyId').val() > 0) {

                        mode = 'UpdateNew';
                    }
                    else {
                        mode = 'InsertNew';
                    }
                    var resObj = post("createExp-sec", 'SalariesData/Save', mode);
                    if (resObj > 0) {
                        /* Single line Reset function executes on click of Reset Button */
                        $('#KeyId').val(resObj);

                    }
                }
            });
        })
        var Itemtempdata = [];

        // var Total = 0.0;
        var tempSum = 0.0;
        var StartDate = null;
        var EndDate = null;
        function itemCostHistory(empId) {


            dataTable = $("#salaryPaidTable").DataTable({
                
                "ajax": {
                    "url": "/api/SalariesData/GetByEmpId?employeeId=" + empId,
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "EmployeeCode" },

                    {
                        "data": "PaidMonth", render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("DD-MM-YYYY");
                        }
                    },
                      { "data": "Salary" },
                     { "data": "Incentives" },
                      { "data": "Bonous" },

                    {
                        "data": "SalaryPaidID", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm modal-link' href=/CustomerPaid/New?keyId=" + data + "><i class='fa fa-pencil'></i></a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a><a class='btn btn-primary btn-sm modal-link'style='margin-left:5px' href=/CustomerPaid/CustInvoice?keyId=" + data + "><i class='fa fa-eye'></i></a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "language": {

                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                }
            });
  


        };
    </script>


}

