
@{
    ViewBag.Title = "Register an Event";
}
<style>
    fieldset {        
        border: 1px solid #458dbc !important; /*1px solid #ddd !important;*/
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #ffffff; /*#f5f5f5;*/
        padding-left: 10px !important;
    }

    legend {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        /*margin-bottom: 0px;*/
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        /*padding: 5px 5px 5px 10px;*/
        background-color: #ffffff;
    }
</style>
<link href="~/AdminLTE/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/iziToast/iziToast.min.css" rel="stylesheet" />
 <!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Customer Registration</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" data-role="create-sec">

                    <div class="col-lg-12">
                        <div class="row">


                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Customer Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="CustomerName" class="form-control" placeholder="Customer Name" name="CustomerName" data-attr="CustomerName" data-valt="required">

                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Mobile Number</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Mobile Number" class="form-control" data-attr="MobileNo" id="MobileNo" name="MobileNo" data-valt="required">
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">Alternate Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Alternate Mobile" class="form-control" data-attr="AlternateMobileNo" id="AlternateMobileNo" name="AlternateMobileNo">
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event Type</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-glass input-group-addon"></i>
                                    <select class="form-control EventType" id="EventType" name="EventType" data-attr="EventType" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>
                                        <option value="1">Mehandi</option>
                                        <option value="2">Sangeeth</option>
                                        <option value="3">Birth Day</option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event Start Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="entStartDate" class="form-control datepicker" placeholder="Event Start Date" name="EventStartDate" data-attr="EventStartDate" data-valt="required">

                                </div>

                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event End Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="eventEndDate" class="form-control datepicker" placeholder="Event End Date" name="EventEndDate" data-attr="EventEndDate" data-valt="required">

                                </div>

                            </div>
                            
                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">Package Name</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-gift input-group-addon"></i>
                                    <select class="form-control" id="Package" name="Package" data-attr="Package" data-listentry="">
                                        <option value="0">-- Select --</option>
                                        <option value="1">Mehandi</option>
                                        <option value="2">Sangeeth</option>
                                        <option value="3">Birth Day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">* Package Price</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-money input-group-addon"></i>
                                    <input type="text" placeholder="Package Cost" id="PackagePrice" class="form-control" data-attr="PackagePrice">
                                </div>

                            </div>
                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">*Total Cost</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Total Price" id="TotalPrice" class="form-control" data-attr="TotalPrice" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">Advance</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Advance" id="AdvancePrice" class="form-control" data-attr="AdvancePrice">
                                </div>

                            </div>

                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">*Event Manager Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-user input-group-addon"></i>
                                    <input type="text" placeholder="Manager Name" id="Manager" class="form-control" data-attr="Manager" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4" hidden>
                                <strong class="m-b-xs">*Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="number" placeholder="Manager Mobile" id="ManagerMobile" class="form-control" data-attr="ManagerMobile" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-12">
                                <strong class="m-b-xs">* Venue</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-map-marker input-group-addon"></i>
                                    <input type="text" placeholder="Venue" id="Venue" class="form-control" data-attr="Venue" data-valt="required">
                                </div>

                            </div>

                        </div>

                    </div>
                    <section data-role="mandatory-sec">
                        <input type="hidden" data-attr="EventInfoID" id="KeyId" />
                        <input type="hidden" data-attr="EventRefID" />
                        <input type="hidden" data-attr="CreatedBy"/>
                        <input type="hidden" data-attr="CreatedOn"value="@DateTime.Now" />
                        <input type="hidden" data-attr="ModifiedBy" />
                        <input type="hidden" data-attr="ModifiedOn" />
                        <input type="hidden" data-attr="Status" />
                       
                    </section>
                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer clearfix">
                <button id="saveEvent" class="btn btn-sm btn-info btn-flat pull-left">Save Event</button>
                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Back</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Event Items</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="" data-role="create-sec">
                    <fieldset>
                        <legend>Personalia:</legend>
                        <div class="col-lg-12">
                            <div class="row" data-role="Item-add-sec">


                                <div class="form-group col-lg-3">
                                    <strong class="m-b-xs">*Category</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-glass input-group-addon"></i>
                                        <select class="form-control Categories" id="Categories" name="Categories" data-attr="Categories" data-listentry="" data-valt="required">
                                            <option value="0">-- Select --</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-lg-3">
                                    <strong class="m-b-xs">*Items</strong>

                                    <div class="input-group m-b">
                                        <i class="fa fa-cubes input-group-addon"></i>
                                        <select class="form-control" id="Items" name="Items" data-attr="Items" data-listentry="" data-valt="required">
                                            <option value="0">-- Select --</option>
                                            @*<option value="1">Mehandi</option>
                                            <option value="2">Sangeeth</option>
                                            <option value="3">Birth Day</option>*@
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-lg-2">
                                    <strong class="m-b-xs">*Quantity</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-hourglass input-group-addon"></i>
                                        <input type="text" placeholder="Quantity" class="form-control" data-attr="Quantity" id="Quantity" name="Quantity">
                                    </div>
                                </div>

                                <div class="form-group col-lg-2">
                                    <strong class="m-b-xs">*Unit Price</strong>

                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Price" class="form-control"  id="Price" name="Price" onkeyup="SubTotalPrice()">
                                    </div>
                                </div>

                                <div class="form-group col-lg-1">
                                    <strong class="m-b-xs">*Total</strong>

                                    <div class="input-group m-b">
                                        @*<i class="fa fa-money input-group-addon"></i>*@
                                        <input type="text" placeholder="Price" class="form-control" id="SubTotalPrice" name="Price" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-lg-1">
                                    <div class="input-group m-b" style="padding-top: 8px;">
                                        <div class="input-group m-b">

                                            <button type="button" class="btn bg-purple btn-flat margin" onclick="AddItem()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="border:1px solid blue" />
                            
                            <div class="" id="appendItem">

                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8">
                                    <strong class="m-b-xs">Total</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Price" class="form-control" data-attr="TotalPrice" id="TotalPrice" name="Price" value="Total Price" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-lg-2">
                                    <strong class="m-b-xs">.</strong>
                                    <div class="input-group m-b">
                                        <i class="fa fa-money input-group-addon"></i>
                                        <input type="text" placeholder="Price" class="form-control" data-attr="TotalPrice" id="TotalPriceValue" name="Price" value="Total Price" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-lg-2">
                                    <strong class="m-b-xs">.</strong>
                                    <div class="input-group m-b">
                                        <button id="saveQuotation" class="btn btn-sm btn-info btn-flat pull-left" onclick="SaveQuatation()"><i class="fa fa-save"></i> Save Quotation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </fieldset>

                            <section data-role="mandatory-sec">
                                <input type="hidden" data-attr="EventInfoID" id="KeyId" />
                                <input type="hidden" data-attr="EventRefID" />
                                <input type="hidden" data-attr="CreatedBy" />
                                <input type="hidden" data-attr="CreatedOn" value="@DateTime.Now" />
                                <input type="hidden" data-attr="ModifiedBy" />
                                <input type="hidden" data-attr="ModifiedOn" />
                                <input type="hidden" data-attr="Status" />

                            </section>
</div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->
 
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/AdminLTE/plugins/datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/AdminLTE/plugins/iziToast/iziToast.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script>
    var CategoriesID = 1;
    var ItemsID = 1;
    //var QuantityID = 1;
    //var PriceID = 1;
    $(document).ready(function () {
        BindLELV('EventType,Categories');
        //Date picker
        $('.datepicker').datepicker({
            autoclose: true
        });

        $('#saveEvent').click(function () {
            if (displayvalidation('create-sec')) {
                var resObj = post("create-sec", 'EventsData/Save', 'Insert');
            }
        });
        //var v = GetJsonFromApi('ListValues/GetByListEntryName?listEntryName=Categories');
        
    })
    $('#Categories').change(function ()
    {
        $('#Items').addClass($('#Categories :selected').text());

        BindLELV($('#Categories :selected').text())
    })
    function AddItem()
    {
        var itemHtml = '<div class="row addeditems" id="ItemRow_' + ItemsID + '"> <div class="form-group col-lg-3">' +
                                '<strong class="m-b-xs">*Category</strong>'+
                                '<div class="input-group m-b">'+
                                    '<i class="fa fa-glass input-group-addon"></i>'+
                                   '<input type="text" placeholder="Categories" class="form-control" data-attr="CategoryValue" id="CategoryValue_' + ItemsID + '" name="Category"  value="' + $('#Categories :selected').text() + '" readonly >' +
                                '</div>'+
                            '</div>'+
                            
        '<input type="hidden" placeholder="Categories" class="form-control" data-attr="CategoryID" id="CategoryID_' + ItemsID + '" name="Category"  value="' + $('#Categories :selected').val() + '" readonly >' +
            '<div class="form-group col-lg-3">' +
                                '<strong class="m-b-xs">*Items</strong>'+

                                '<div class="input-group m-b">'+
                                    '<i class="fa fa-cubes input-group-addon"></i>' +
                                    
        '<input type="text" placeholder="Categories" class="form-control" data-attr="ItemValue" id="Items_' + ItemsID + '" name="Items"  value="' + $('#Items :selected').text() + '" readonly >' +
          '<input type="hidden" placeholder="Categories" class="form-control" data-attr="ItemID" id="ItemID_' + ItemsID + '" name="Items"  value="' + $('#Items :selected').val() + '" readonly >' +

                                    '</div></div>' +

                                    '<div class="form-group col-lg-2"><strong class="m-b-xs">*Quantity</strong><div class="input-group m-b"><i class="fa fa-hourglass input-group-addon"></i>' +
                                    '<input type="text" placeholder="Quantity" class="form-control" data-attr="Quantity" id="Quantity_' + ItemsID + '" name="Quantity" onkeyup="TotalPrice()" value="' + $('#Quantity').val() + '"  >' +
                                    '</div></div><div class="form-group col-lg-2"><strong class="m-b-xs">*Price</strong><div class="input-group m-b"><i class="fa fa-money input-group-addon"></i>' +
                                    '<input type="text" placeholder="Price" class="form-control price" data-attr="Price" id="Price_' + ItemsID + '" name="Price" onkeyup="TotalPrice()" value="' + $('#Price').val() + '"   ></div></div>' +

                                    '<div class="form-group col-lg-1">' +
        '<strong class="m-b-xs">*Total</strong>' +

        '<div class="input-group m-b">' +
        //'<i class="fa fa-money input-group-addon"></i>' +
        '<input type="text" placeholder="Price" class="form-control" id="TotalPrice_' + ItemsID + '" name="Price" onkeyup="TotalPrice()" readonly>' +
        '</div>' +
        '</div>' +
                                     '<div class="form-group col-lg-1">' +
                                '<div class="input-group m-b" style="padding-top: 8px;">' +
                                    '<div class="input-group m-b">' +
                                        
                                        '<button type="button" class="btn bg-maroon btn-flat margin" onclick="DeleteItem(' + ItemsID + ')" title="Delete Item" ><i class="fa fa-trash" aria-hidden="true"></i></button>' +
                                    '</div></div></div></div>';
        CategoriesID++;
        ItemsID++;
        //QuantityID++;
        //PriceID++;
        $('#appendItem').append(itemHtml);
        //BindLELV('EventType,Categories');
        TotalPrice()
    }
    function DeleteItem(id)
    {
        $('#ItemRow_' + id).remove();
        TotalPrice();
    }

    function SubTotalPrice()
    {
        
        if($('#Quantity').val() != '' && $('#Price').val() != '')
        {
           
            $('#SubTotalPrice').val(parseInt($('#Quantity').val()) * parseInt($('#Price').val()));
        }
    }

    function TotalPrice()
    {
        debugger;
        var total = 0;
        $('[data-attr="Price"]').each(function () {
            if ($(this).val()!='')
            {
                //alert($(this).attr('id').split('_')[1])
                //alert(parseInt($(this).val()));
                if ($('#Quantity_' + $(this).attr('id').split('_')[1]).val() != '')
                {
                    var total_Price = parseInt($('#Quantity_' + $(this).attr('id').split('_')[1]).val()) * parseInt($(this).val());
                    $('#TotalPrice_' + $(this).attr('id').split('_')[1]).val(total_Price);
                    //alert($('#Quantity_' + $(this).attr('id').split('_')[1]).val() +'  '+parseInt($(this).val())+' '+    total_Price)
                    total += total_Price;//parseInt($(this).val());
                }
                
            }
                
            //total +=   $(this).val() != null || $(this).val() != "" ? parseInt($(this).val()) : 0;
            
        })
        $('#TotalPriceValue').val(total);
    }
    function SaveQuatation()
    {
        var EventInfoID= $('[data-attr="EventInfoID"]').val();
        var itemsLst = [];
        //var mylist = [];
        var s = 0;
        $('.addeditems').each(function () {
            var obj = new Object();
            var id = $(this).attr('id');
            //alert(id);
            $("#" + id + " [data-attr]").each(function () {
                obj[$(this).data('attr')] = $(this).val();
            })
            //obj['EventItemID'] = ;
            obj['EventInfoID']=EventInfoID;
            obj['Status'] = true;
            itemsLst[s] = obj;
            s++;
        })
        debugger;
    }

</script>















