
@{
    ViewBag.Title = "Register an Event";
}
<style>
    fieldset {        
        border: 1px solid #458dbc !important; /*1px solid #ddd !important;*/
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #ffffff; /*#f5f5f5;*/
        padding-left: 10px !important;
    }

    legend {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        /*margin-bottom: 0px;*/
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        /*padding: 5px 5px 5px 10px;*/
        background-color: #ffffff;
    }
</style>
<link href="~/AdminLTE/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/iziToast/iziToast.min.css" rel="stylesheet" />
 <!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Customer Registration</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" data-role="create-sec">

                    <div class="col-lg-12">
                        <div class="row">


                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Customer Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="CustomerName" class="form-control" placeholder="Customer Name" name="CustomerName" data-attr="CustomerName" data-valt="required">

                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Mobile Number</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Mobile Number" class="form-control" data-attr="MobileNo" id="MobileNo" name="MobileNo" data-valt="required">
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">Alternate Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Alternate Mobile" class="form-control" data-attr="AlternateMobileNo" id="AlternateMobileNo" name="AlternateMobileNo">
                                </div>
                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event Type</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-glass input-group-addon"></i>
                                    <select class="form-control EventType" id="EventType" name="EventType" data-attr="EventType" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>
                                       
                                    </select>
                                </div>
                            </div>



                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event Start Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="entStartDate" class="form-control datepicker" placeholder="Event Start Date" name="EventStartDate" data-attr="EventStartDate" data-valt="required">

                                </div>

                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event End Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="eventEndDate" class="form-control datepicker" placeholder="Event End Date" name="EventEndDate" data-attr="EventEndDate" data-valt="required">

                                </div>

                            </div>
                            
                           
                            <div class="form-group col-lg-4" >
                                <strong class="m-b-xs">*Total Cost</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Total Price" id="TotalPrice" class="form-control" data-attr="TotalPrice" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4" >
                                <strong class="m-b-xs">Advance</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Advance" id="AdvancePrice" class="form-control" data-attr="AdvancePrice">
                                </div>

                            </div>

                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Event Manager Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-user input-group-addon"></i>
                                    <input type="text" placeholder="Manager Name" id="Manager" class="form-control" data-attr="Manager" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-4">
                                <strong class="m-b-xs">*Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="number" placeholder="Manager Mobile" id="ManagerMobile" class="form-control" data-attr="ManagerMobile" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-12">
                                <strong class="m-b-xs">* Venue</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-map-marker input-group-addon"></i>
                                    <input type="text" placeholder="Venue" id="Venue" class="form-control" data-attr="Venue" data-valt="required">
                                </div>

                            </div>

                        </div>

                    </div>
                    <section data-role="mandatory-sec">
                        <input type="hidden" data-attr="EventInfoID" id="KeyId" />
                        <input type="hidden" data-attr="EventRefID" />
                        <input type="hidden" data-attr="CreatedBy"/>
                        <input type="hidden" data-attr="CreatedOn"value="@DateTime.Now" />
                        <input type="hidden" data-attr="ModifiedBy" />
                        <input type="hidden" data-attr="ModifiedOn" />
                        <input type="hidden" data-attr="Status" />
                       
                    </section>
                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer clearfix text-center">
                <button id="saveEvent" class="btn btn-sm btn-info btn-flat">Save Event</button>
                <a href="/Events/Manage" class="btn btn-sm btn-default btn-flat">Back</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
   
</div>
<!-- /.row -->
 
@section scripts{

<script>
    var CategoriesID = 1;
    var ItemsID = 1;

   
    $(document).ready(function () {
        BindLELV('EventType,Categories');        
      
        $('#saveEvent').click(function () {
            if (displayvalidation('create-sec')) {
                var resObj = post("create-sec", 'EventsData/Save', 'Insert');
                if (resObj > 0)
                    $('[data-attr="EventInfoID"]').val(resObj);
            }
        });      
        
    })
   


</script>

}













