@{
    ViewBag.Title = "Register an Event";
}
<style>
    fieldset {
        border: 1px solid #458dbc !important; /*1px solid #ddd !important;*/
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #ffffff; /*#f5f5f5;*/
        padding-left: 10px !important;
    }

    legend {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        /*margin-bottom: 0px;*/
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        /*padding: 5px 5px 5px 10px;*/
        background-color: #ffffff;
    }
</style>

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Customer Registration</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" data-role="create-sec">

                    <div class="col-lg-12">
                        <div class="row">

                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Event Code</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-map-marker input-group-addon"></i>
                                    <input type="text" placeholder="EventRefID" id="EventRefID" class="form-control" data-attr="EventRefID" data-valt="required" readonly>
                                </div>

                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Customer Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-sort-alpha-asc input-group-addon"></i>
                                    <input type="text" id="CustomerName" class="form-control" placeholder="Customer Name" name="CustomerName" data-attr="CustomerName" data-valt="required">

                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Mobile Number</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Mobile Number" class="form-control" data-attr="MobileNo" id="MobileNo" name="MobileNo" data-valt="required">
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">Alternate Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="text" placeholder="Alternate Mobile" class="form-control" data-attr="AlternateMobileNo" id="AlternateMobileNo" name="AlternateMobileNo">
                                </div>
                            </div>

                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Event Type</strong>

                                <div class="input-group m-b">
                                    <i class="fa fa-glass input-group-addon"></i>
                                    <select class="form-control EventType" id="EventType" name="EventType" data-attr="EventType" data-listentry="" data-valt="required">
                                        <option value="0">-- Select --</option>

                                    </select>
                                </div>
                            </div>



                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Event Start Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="EventStartDate" class="form-control datepicker" placeholder="Event Start Date" name="EventStartDate" data-attr="EventStartDate" data-valt="required">

                                </div>

                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Event End Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="EventEndDate" class="form-control datepicker" placeholder="Event End Date" name="EventEndDate" data-attr="EventEndDate" data-valt="required">

                                </div>

                            </div>

                           
                            
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">Total Cost</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-usd input-group-addon"></i>
                                    <input type="number" placeholder="Total Price" id="TotalPrice" class="form-control" data-attr="TotalPrice" readonly>
                                </div>

                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Event Manager Name</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-user input-group-addon"></i>
                                    <input type="text" placeholder="Manager Name" id="Manager" class="form-control" data-attr="Manager" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Mobile</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-mobile input-group-addon"></i>
                                    <input type="number" placeholder="Manager Mobile" id="ManagerMobile" class="form-control" data-attr="ManagerMobile" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">* Venue</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-map-marker input-group-addon"></i>
                                    <input type="text" placeholder="Venue" id="Venue" class="form-control" data-attr="Venue" data-valt="required">
                                </div>

                            </div>
                            <div class="form-group col-lg-3 checkbox checkbox-info" style="padding-left: 35px; margin-top: 26px !important;">
                                <input id="chkIsConfirm" type="checkbox" data-attr="IsConfirm">
                                Is Event Conformed?
                            </div>
                            <div class="form-group col-lg-3 checkbox checkbox-info" style="padding-left: 35px; margin-top: 26px !important;">
                                <input id="chkIfFNF" type="checkbox" data-attr="IfFNF">
                                Is Finalsetlement Done?
                            </div>
                        </div>

                    </div>

                    <input type="hidden" data-attr="EventInfoID" id="KeyId" />
                    <input type="hidden" data-attr="EventRefID" />
                    <input type="hidden" data-attr="CreatedBy" />
                    <input type="hidden" data-attr="CreatedOn" value="@DateTime.Now" />
                    <input type="hidden" data-attr="ModifiedBy" />
                    <input type="hidden" data-attr="ModifiedOn" />
                    <input type="hidden" data-attr="Status" />


                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer clearfix text-center">
                <button id="saveEvent" class="btn btn-sm btn-info btn-flat">Save Event</button>
                <a href="/Events/manage" class="btn btn-sm btn-default btn-flat">Back</a>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- col -->
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Payments Details</a></li>
                   

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <a class="btn btn-success modal-link" data-toggle='modal' data-backdrop='static' style="margin-bottom:10px" href="/CustomerPaid/New?keyId=0"><i class="fa fa-plus"></i> Add New</a>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Customer Payments</h3>
                            </div>
                            <div class="box-body">
                                <table id="custPaidTable" class="table table-bordered table-hover display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Bill NO</th>
                                            <th>Particular</th>
                                            <th>Ammount</th>
                                            <th>Paid Date</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
           
        </div>
        <!-- /.col -->
     
     <div class="col-lg-12">
         <a href="/Events/manage" class="btn btn-sm btn-default btn-flat pull-right">Back</a>
     </div>
    
   
    </div>
<!-- /.row -->
@section scripts{

    <script>
        var  dataTable;
        $(document).ready(function () {
            BindLELV('EventType');
           

            keyId = GetQueryStringValues(window.location.href, 'keyId');
            if (keyId > 0) {
                bind('/api/EventsData/GetById?eventInfoId=' + keyId, "create-sec");
            }
            dataTable = $("#custPaidTable").DataTable({
                "scrollX": true,
                "ajax": {
                    "url": "/api/CustomerPaidData/GetAll?eventInfoId=" + keyId,
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "CustomerAmtPaidRefID" },
                    { "data": "Particular" },
                    { "data": "Ammount" },
                   
                    {
                        "data": "DateOfPaid", render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("DD-MM-YYYY");
                        }
                    },
                
                    {
                        "data": "CustomerAmtPaidID", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm modal-link' href=/CustomerPaid/New?keyId=" + data + "><i class='fa fa-pencil'></i></a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a><a class='btn btn-primary btn-sm modal-link'style='margin-left:5px' href=/CustomerPaid/CustInvoice?keyId=" + data + "><i class='fa fa-eye'></i></a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "language": {

                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                }
            });
        })
       

        $('#saveEvent').click(function () {
            if (displayvalidation('create-sec')) {
                if ($('#KeyId').val() > 0) {
                    mode = 'Update';
                }
                else {
                    mode = 'Insert';
                }
                var resObj = post("create-sec", 'EventsData/Save', mode);
                debugger;
                if (resObj.m_Item1 > 0) {
                    $('#KeyId').val(resObj.m_Item1);
                    $('#EventRefID').val(resObj.m_Item2);
                }

            }
        });
        function Delete(id) {

            //////////////////////
            iziToast.warning({
                title: 'Delete Warning!',
                message: 'Are you sure you want to Delete?',
                timeout: false,
                overlay: true,
                color: 'yellow',
                position: 'center',
                buttons: [
                    ['<button>Yes</button>', function (instance, toast) {
                        debugger;

                        result = GetJsonFromApi("/CustomerPaidData/Delete?CustomerAmtPaidId=" + id);


                        if (result) {
                            ToastSuccess('Deleted Sucessfully.');
                            dataTable.ajax.reload();
                        }
                        else {
                            ToastError("Error ocuured While doing operation")
                        }

                        instance.hide({
                            transitionOut: 'fadeOutDown',

                        }, toast, 'buttonName');


                    }, true],
                    ['<button>No</button>', function (instance, toast) {
                        instance.hide({
                            transitionOut: 'fadeOutDown',

                        }, toast, 'buttonName');

                    }]
                ],

            });
        }
    </script>
}













