
<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title modal-head text-center">Customer Invoice</h3>

</div>

<div class="modal-body">
    <div id="custInvoicetemp">
    </div>
</div>


<script>
    $(document).ready(function () {
        var template1 = _.template($("#invoiceTemplate").html());
        debugger;
        var tempData = GetJsonFromApi('/EventItemsData/GetItemDet?eventInfoId=' + infoId);
        if (tempData != null && tempData != "") {

            temp = new Object();
            temp.EventRefID = tempData.EventRefID;
            temp.CustomerName = tempData.CustomerName;
            temp.EventTypeValue = tempData.EventTypeValue;
            temp.MobileNo = tempData.MobileNo;
            temp.EventStartDate = tempData.EventStartDate;
            temp.EventEndDate = tempData.EventEndDate;
            temp.Venue = tempData.Venue;
            temp.EventItems = tempData.EventItems;
            temp.EventTax = tempData.EventTax;
            tempItemData = temp;

        }




        $("#eventItemsDetails").html(template1(tempItemData));
    });
</script>

<script type="text/template" id="invoiceTemplate">
    <div style="margin:5% 40% 0% 33%;float:left; width:500px; box-shadow:0 0 3px #aaa; height:auto;color:#666;">
        <div style="width:100%; padding:10px; float:left; background:#1ca8dd; color:#fff; font-size:30px; text-align:center;">
            Invoice
        </div>
        <div style="width:100%; padding:0px 0px;border-bottom:1px solid rgba(0,0,0,0.2);float:left;">
            <div style="width:30%; float:left;padding:10px;">

                <span style="font-size:14px;float:left; width:100%;">
                    Haneefa
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                    21, jessika street ,
                    shennoanagarnagar
                </span>
                <span style="font-size:14px;float:left;width:100%;">
                    jessika@gmail.com
                </span>
            </div>

            <div style="width:40%; float:right;padding:">
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                    <b>Date : </b>2017-05-04
                </span>
                <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                    <b>Invoice# : </b>SDO-10035
                </span>
            </div>
        </div>




        <div style="width:100%; padding:0px; float:left;">

            <div style="width:100%;float:left;background:#efefef;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;font-weight:600;">
                    Decription
                </span>
                <span style="font-weight:600;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                    Amount
                </span>
            </div>

            <div style="width:100%;float:left;">
                <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
                    session with Jessika test


                    <span style="font-size:10px; float:left; width:100%;">
                        (Text Consulting)
                    </span>
                </span>
                <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
                    373 INR
                </span>
            </div>


            <div style="width:100%;float:left; background:#fff;">

                <span style="font-weight:600;float:right;padding:10px 0px;width:40%;color:#666;text-align:center;">
                    Total : 373 INR
                </span>
            </div>
        </div>
    </div>

</script>
