<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 35px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    /*media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }*/

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
</style>
<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title modal-head text-center">Customer Invoice</h3>

</div>

<div class="modal-body">
    <div id="HTMLtoPDF">

    </div>
    <button type="button" class="btn btn-success pull-right" id="printDiv">
        <i class="fa fa-print"></i>Print
    </button>
</div>
<script src="~/Scripts/HTML to PDF/HTML to PDF/js/jspdf.js"></script>
<script src="~/Scripts/HTML to PDF/HTML to PDF/js/pdfFromHTML.js"></script>
<script src="~/Scripts/HTML to PDF/HTML to PDF/js/printPreview.js"></script>

<script>
    var custpaidId = '@ViewBag.custPaidId';
    var tempCustData = "";
    $(document).ready(function () {
        var template1 = _.template($("#invoiceTemplate").html());
        debugger;
        tempCustData = GetJsonFromApi('/CustomerPaidData/GetById?CustomerAmtPaidId=' + custpaidId);
        
        $("#HTMLtoPDF").html(template1(tempCustData));
        function printDiv() {
            var printContents = document.getElementById("HTMLtoPDF").innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            window.focus()

            window.close();
            document.body.innerHTML = originalContents;
            return false;
        }
        
        $("#printDiv").printPreview({
            obj2print: '#HTMLtoPDF',
            width: '810',

        });
    });
</script>
<script type="text/template" id="invoiceTemplate">
    <div class="invoice-box">
        <div class="text-center"> <b class="title">Bill</b></div>
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                ROCKSTAR EVENTS
                            </td>

                            <td>
                                Invoice #: <%- tempCustData.CustomerAmtPaidRefID %><br>
                                Created:<%- tempCustData.DateOfPaid %>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Rockstar Events.<br>
                                ADRESS: PLOT NO :77/8 H .NO 3/6-42/C2  SHOP NO 2 <br>
                                NEAR USHA  MULAPUDI  ROAD  <br>
                                KUKATPALLY HYDERABAD-500072<br>

                            </td>

                            <td>
                                Event Code   :<%- tempCustData.EventRefID %><br>
                                Customer Name : <%- tempCustData.CustomerName %><br>
                                Mobile        : <%- tempCustData.MobileNo %><br>
                                Event         : <%- tempCustData.EventTypeValue %><br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr class="heading">
                <td>
                    Particulat
                </td>

                <td>
                    Ammount
                </td>
            </tr>

            <tr class="item">
                <td>
                    <%- tempCustData.Particular %>
                </td>

                <td>
                    <%- tempCustData.Ammount %>
                </td>
            </tr>


            <tr class="total">
                <td></td>

                <td>
                    Total: <%- tempCustData.Ammount %>
                </td>
            </tr>
        </table>
    </div>
</script>


