
@{
    ViewBag.Title = "DashBoard";
}
<br/>
<br/>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="info-box" href="/VendorReports/VendorRep">
            <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>
            <div class="info-box-content">
                <strong class="info-box-text">Vendors <br/>Reports Between <br/> Dates</strong>
                @*<span class="info-box-number">Reports Between Dates</span>*@
            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="info-box" href="/VendorReports/Vcode">
            <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
            <div class="info-box-content">
                <strong class="info-box-text">Vendors <br />Report By <br /> Vendor Code</strong>
            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="info-box" href="/VendorReports/Ecode">
            <span class="info-box-icon bg-yellow"><i class="fa fa-bolt"></i></span>
            <div class="info-box-content">
                <strong class="info-box-text">Vendors <br />Report By <br />Event Code</strong>
            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="info-box" href="/VendorReports/VEcode">
            <span class="info-box-icon bg-red"><i class="fa fa-newspaper-o"></i></span>
            <div class="info-box-content">
                <strong class="info-box-text"> Report By <br /> Event  & Vendor <br/> Code</strong>
            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>

