
@{
    ViewBag.Title = "Event Pays";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Event Pay's</strong></h3>
                <div class="box-tools pull-right">
                  
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" data-role="VendorEventcreate-sec">

                    <div class="col-lg-12">
                        <div class="row">
                            <div data-role="Basicdata-sec">
                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">*Event Code</strong>

                                    <div class="input-group m-b">
                                        <i class="fa fa-info input-group-addon"></i>
                                        <input type="text" id="EventInfoIDValue" class="form-control" placeholder="Event Code" name="EventInfoIDValue" data-attr="EventInfoIDValue" data-valt="required" maxlength="200" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <strong class="m-b-xs">*Vendor Code</strong>

                                    <div class="input-group m-b">
                                        <i class="fa fa-info input-group-addon"></i>
                                        <input type="text" id="VendorCode" class="form-control" placeholder="Vendor Code" name="VendorCode" data-attr="VendorCode" data-valt="required" maxlength="200" readonly>
                                    </div>
                                </div>
                                <input type="hidden" data-attr="VendorEventID" id="mainId"/>
                                <input type="hidden" data-attr="Ammmount" id="Totalammount" />
                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Particular</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-money input-group-addon"></i>
                                    <input type="text" placeholder="Particular" class="form-control" data-attr="Particular" id="Particular" name="Particular" data-valt="required" maxlength="250">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Description</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-money input-group-addon"></i>
                                    <input type="text" placeholder="Description" class="form-control" data-attr="Description" id="Description" name="Description" maxlength="250">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Paid Date</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-calendar input-group-addon"></i>
                                    <input type="text" id="PaidDate" class="form-control datepicker" placeholder="Paid Date" name="PaidDate" data-attr="PaidDate" data-valt="required">

                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <strong class="m-b-xs">*Ammount Pable</strong>
                                <div class="input-group m-b">
                                    <i class="fa fa-money input-group-addon"></i>
                                    <input type="text" placeholder="Ammount Paid" class="form-control" data-attr="AmmountPaid" id="AmmountPaid" name="AmmountPaid" data-valt="required">
                                </div>
                            </div>



                        </div>

                    </div>

                   
                    <input type="hidden" data-attr="VendorAmmountPaidID" id="KeyId" />
                    <input type="hidden" data-attr="CreatedBy" />
                    <input type="hidden" data-attr="CreatedOn" value="@DateTime.Now" />
                    <input type="hidden" data-attr="ModifiedBy" />
                    <input type="hidden" data-attr="ModifiedOn" />
                    <input type="hidden" data-attr="Status" />


                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer clearfix text-center">
                <a id="btnAmmount" class="btn btn-sm btn-info btn-flat">Save</a>
                <a class="btn btn-sm btn-default btn-flat" id="btnBack" href="/VendorEvents/Manage">Back</a>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box  box-primary">


            <div class="box-header with-border">
                <h3 class="box-title"><strong>Paid To Vendor</strong> </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="box-body">
                <table id="ammountPaidTable" class="table table-bordered table-hover display nowrap" style="width:100%">
                    <thead>
                        <tr>
                         
                            <th>Bill No</th>
                            <th>Particulars</th>
                            <th>Paid Date</th>
                            <th>Ammmount</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</div>
@section scripts{
<script>
    var dataTable;
    $(document).ready(function () {
      
        $('.datepicker').datepicker({
            autoclose: true,
            dateFormat: 'dd-mm-yy'
        });
        var entId = GetQueryStringValues(window.location.href, 'keyId');
        bind("/api/VendorEventsData/GetDataByEvent?vendorEventId=" + entId, 'Basicdata-sec');
        associatedEvents(entId);
       
    });
    $('#btnAmmount').click(function () {
        if (displayvalidation('VendorEventcreate-sec')) {
            if ($('#KeyId').val() > 0) {
                mode = 'Update';
            }
            else {
                mode = 'Insert';
            }
            var resObj = post("VendorEventcreate-sec", 'VendorPaidData/Save', mode);
            debugger;
            if (resObj > 0) {
                $('#KeyId').val(resObj);
               // associatedEvents($('#KeyId').val())
                dataTable.ajax.url("/api/VendorPaidData/GetById?VendorEventID=" + $('#mainId').val()).load();
            }

        }
    });

    function associatedEvents(vendorid) {
        dataTable = $("#ammountPaidTable").DataTable({
            "scrollX": true,
            "ajax": {
                "url": "/api/VendorPaidData/GetById?VendorEventID=" + vendorid,
                "type": "GET",
                "datatype": "json",
                "dataSrc": ""
            },
            "columns": [
                
                 { "data": "BillNo" },
                   { "data": "Particular" },
                 {
                     "data": "PaidDate", render: function (data, type, row) {
                         if (type === "sort" || type === "type") {
                             return data;
                         }
                         return moment(data).format("DD-MM-YYYY");
                     }
                 },
                { "data": "AmmountPaid" },

                {
                    "data": "VendorAmmountPaidID", "render": function (data) {
                        return "<a id='click_me' class='btn btn-primary btn-sm modal-link' href='/VendorPaid/Edit?vendorAmmountPaidId="+data+ "'data-toggle='modal' data-backdrop='static'><i class='fa fa-pencil'></i></a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i></a><a class='btn btn-info btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-eye'></i></a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }

            ],
            "language": {

                "emptyTable": "No data found."
            }
        });
    }
    function Delete(id) {

        //////////////////////
        iziToast.warning({
            title: 'Delete Warning!',
            message: 'Are you sure you want to Delete?',
            timeout: false,
            overlay: true,
            color: 'yellow',
            position: 'center',
            buttons: [
                ['<button>Yes</button>', function (instance, toast) {
                    debugger;

                    result = GetJsonFromApi("/VendorPaidData/Delete?vendorAmmountPaidId=" + id);


                    if (result) {
                        ToastSuccess('Deleted Sucessfully.');
                        dataTable.ajax.reload();
                    }
                    else {
                        ToastError("Error ocuured While doing operation")
                    }

                    instance.hide({
                        transitionOut: 'fadeOutDown',

                    }, toast, 'buttonName');


                }, true],
                ['<button>No</button>', function (instance, toast) {
                    instance.hide({
                        transitionOut: 'fadeOutDown',

                    }, toast, 'buttonName');

                }]
            ],

        });
    }
</script>
    }