@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>
<!-- jTableOrders r1.01 - 23.05.2013 -->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Just another jTable example</title>
</head>
<body>
    <div id="OrdersTableContainer"></div>
</body>
</html>
@section Scripts{
    <link href="~/Scripts/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" />
    <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#OrdersTableContainer').jtable({
                title: 'List Entries Details',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'ListEntryID DESC', //Set default sorting
                actions: {
                    listAction: '/api/ListEntries/GetAll',
                    createAction: '/api/ListEntries/Save',
                    updateAction: '/api/ListEntries/Update',
                    deleteAction: '/api/ListEntries/Delete'
                },
                fields: {
                    'ListEntryID': {
                        key: true,
                        list: false
                    },
                    //CHILD TABLE DEFINITION FOR "DETAILS"
                    'Details': {
                        title: '',
                        width: '5%',
                        sorting: false,
                        edit: false,
                        create: false,
                        display: function (OrderData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img src="/Content/Images/list_metro.png" ' +
                                'title="Edit order details" />');
                            //Open child table when user clicks the image
                            debugger;
                            $img.click(function () {
                                $('#OrdersTableContainer').jtable('openChildTable',
                                        $img.closest('tr'),
                                        {
                                            title: 'List Values',
                                            actions: {
                                                listAction: '/api/ListValues/GetById?id='
                                                        + OrderData.record['ListEntryID'],
                                                deleteAction: '/api/ListValues/Delete?id='
                                                        + OrderData.record['ListEntryID'],
                                                updateAction: '/api/ListValues/Update',
                                                createAction: '/api/ListValues/Save'
                                            },
                                            fields: {
                                                'ListValueID': { key: true, create: false, edit: false, list: false },
                                                'ListEntryID': { type: 'hidden', defaultValue: OrderData.record['ListEntryID'] },
                                                'ListValueName': { title: 'ListValue Name', width: '50%' },
                                                'EntryType': { title: 'Entry Type', width: '25%' },
                                                'Status': { type: 'hidden' },
                                                'CreatedBy': { type: 'hidden' },
                                                'CreatedOn': { type: 'hidden' },
                                                'ModifiedBy': { type: 'hidden' },
                                                'ModifiedOn': { type: 'hidden' }

                                            }
                                        }, function (data) {
                                           
                                            data.childTable.jtable('load');
                                        });
                            });
                            //Return image to show on the order row
                            return $img;
                        }
                    },
                    'ListEntryName': { title: 'ListEntry Name', width: '40%' },
                    'EntryType': { title: 'Entry Type', width: '20%' },
                    'ListEntryDescription': { title: 'Description', width: '20%' },
                    'Status': { type: 'hidden' },
                    'CreatedBy': { type: 'hidden' },
                    'CreatedOn': { type: 'hidden' },
                    'ModifiedBy': { type: 'hidden' },
                    'ModifiedOn': { type: 'hidden' }

                }
            });
            $('#OrdersTableContainer').jtable('load');
        });
    </script>
}


